*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}
.main-nav
{
    display: flex;
    background-color: #E91E63;
    width: 100vw;
    height: 10vh;
}
.main-nav__ul
{
    list-style: none;
    width: 100vw;
    text-align: center;
    padding-top: 2vh;
}
.main-nav__ul li a
{
    text-decoration: none;
    font-size:2rem;
    font-weight: bolder;
    color: white;
}
.carrusel{
    width: 100vw;
    background-color: blue;
    height: 35vh;
}
.carrusel video
{
    width: 100vw;
}
.c1{
    width: 100vw;
    height: 20vh;
}
.outstress
{
    background-color: aqua;
}
.pomodoro
{
    background-color: blueviolet;
}
.fourintasks
{
    background-color: aquamarine;
}
.main-footer
{
    width: 100vw;
    height: 15vh;
    background-color: brown;
}