
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}
.main-nav
{
    display: flex;
    background-color: #E91E63;
    width: 100vw;
    height: 10vh;
}
.main-nav__ul
{
    list-style: none;
    width: 100vw;
    text-align: center;
    padding-top: 2vh;
}
.main-nav__ul li a
{
    text-decoration: none;
    font-size:2rem;
    font-weight: bolder;
    color: white;
}
.carrusel{
    width: 100vw;
    height: auto;
}
.carrusel img
{
    width: 100vw;
    height: auto;
}
.c1{
    width: 100vw;
    height: auto;
}
.outstress
{
    margin-top: 1rem;
    height: auto;
    background-color: #fc5293fd;
}
.parrafo, .lugar
{
    color: white;
    font-size: 1.5rem;
    text-align: center ;
    font-family: 'Sansita Swashed', cursive;
    text-align: justify;
    margin:1rem;
}
.pomodoro
{
    background-color: #f777a8fd;
}
.fourintasks
{
    background-color:  #fc9bc0fd;
}
.s4{
    background-color: #f09db9;
}
.s5{
    background-color: #f5bccf;
}
.s6{
    background-color: #f8c6d7;
}
.s7{
    background-color: #ff0000;
}
.s8{
    background-color: #fa3d3d;
}
.s9{
    background-color: #ff5d5d;
}
.s10{
    background-color: #ff8282;
}
.s11{
    background-color: #ff9f9f;
}
.main-footer
{
    width: 100vw;
    height: 15vh;
    background-color: brown;
}